# precious version mlapp
*simulator.mlapp

# general
test.m
test2.m
*_resources/*
*/*.docx
*.tmp
*.prj
*.svg
test_data/*KA*
EPRSimulator*
*Tutorial*

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
#*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace